<?xml version="1.0"?>

<model>
  <name>Bumper</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Yusuf Emre Samur</name>
    <email></email>
  </author>

  <description>
    SDF model of bumper
    URL: https://3dwarehouse.sketchup.com/model/u33405765-5f7a-4189-b273-902c3dd3d59a/RealTraxBumper
  </description>

</model>