<?xml version="1.0"?>

<model>
  <name>Railway</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Yusuf Emre Samur</name>
        <email></email>
    </author>

    <description>
    SDF model of railway
    URL: https://3dwarehouse.sketchup.com/model/7e0ceeda-c653-4673-86ed-84ba63411fcb/Railway-Line
  </description>

</model>