<?xml version="1.0"?>
<model>
  <name>Building</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Yusuf Emre Samur</name>
    <email></email>
  </author>
  <description>
    SDF model of a building
    URL: https://3dwarehouse.sketchup.com/model/a0d9a47b4cdc2e7b7bc9eb0eadf907dd/Building
  </description>
</model>