<?xml version="1.0"?>

<model>
  <name>S Bahn</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Yusuf Emre Samur</name>
    <email></email>
  </author>

  <description>
    SDF model of Deutsche Bahn train
    Collada model from: Arman Y.
    URL: https://3dwarehouse.sketchup.com/model/22c094d1-d476-4ff1-9044-6aa772bed074/Bombardier-DB-Talent-BR-644
  </description>

</model>